<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>  
    <%# to add the upvote/ downvote arrows %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'%>
    <%= javascript_pack_tag 'application' %>
    

  </head>

  <body>
    <%= render partial: 'layouts/header' %>
    <section class="bg-light">
    <div class='container'>
      <div class='row'>
        <div class='col-sm-12 pt-4'>
          <%= yield %>
        </div>
      </div>
    </div>
  </section>
  <%= render partial: 'layouts/footer' %>
  </body>
</html>
